/* Fonts */

@font-face {
    font-family: 'GothamBold';
    src: url(assets/fonts/GothamBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Gotham';
    src: url(assets/fonts/GothamBook.ttf) format('truetype');
}
@font-face {
    font-family: 'TungstenNarrowMedium';
    src: url(assets/fonts/TungstenNarrow-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'TungstenBold';
    src: url(assets/fonts/Tungsten-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'TungstenNarrowBold';
    src: url(assets/fonts/TungstenNarrow-Bold.otf) format('opentype');
}



/* Reset */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
}

/* Background */

body {
    background-image: url(/assets/images/background/background_img.png);
    background-size: cover;
}

/* Logos */

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 116px;
}

.logoContainer img {
    width: 25%;
}

/* Gamemodes */

.gamemodesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
}

.gamemodesContainer button, .gamemodeLink {
    width: 30%;
    height: 82px;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 16px;
    padding-left: 18px;
    color: #BA3A46;
    background: none;
    border: 2px solid #BA3A46;
    font-family: "TungstenBold";
    font-size: 60px;
    text-decoration: none;
}

.gamemodeLink:hover {
    transition: all 0.1s ease;
    background-color: #BA3A46;
    color: #fff;
    cursor: pointer;
}

/* Contact */

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 24px;
}

.contactContainer img {
    width: 40px;
}


footer {
    position: absolute;
    width: 100%;
    height: 52px;
    padding-top: 12px;
    bottom: 0;
    text-align: center;
    background-color: #BA3A46;
    font-family: "TungstenNarrowMedium";
    font-size: 24px;
}

 footer .boldTextSpan {
    font-family: "TungstenNarrowBold";
 }

 /* AGENTS GAME ===================================================*/

 /* Input */

 .mainInput, form {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 form {
    width: 100%;
 }

 .mainInput input {
    width: 30%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-top: 15%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 24px;
    font-family: 'Gotham';
 }

 .mainInput button {
    display: flex;
    width: 1.6%;
    align-items: center;
    margin-top: 15%;
    border: none;
    outline: none;
    font-size: 24px;
    font-family: 'Gotham';
 }

   /* Guessing Options */
   
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }

  .cards img {
    width: 65px;
  }

  .cards span {
    margin-left: 16px;
    color: white;
    font-size: 20px;
  }

  .agentCard {
    width: 31.7%;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.199);
  }

  /* Guessing History Table */

  .guessingHistory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 42px auto;
    color: #BA3A46;
  }

  table {
    align-items: center;
    position: relative;
    table-layout: fixed;
  }

  th {
    padding: 10px 24px;
    border-bottom: 4px solid #BA3A46;
    font-family: "GothamBold";
}

td {
    padding: 10px 24px;
    color: #fff;
    text-align: center;
    background: red;
}

.guessingLine {
    width: 100%;
    align-items: center;
    justify-content: center;
}



